@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  /* Neutral colors */
  --color-neutral-darker: #1c1d21;
  --color-neutral-background: #212229;
  --color-neutral-surface: #2a2c34;
  --color-neutral-header: #33353f;
  --color-neutral-text: #f5f5f5;

  /* Primary colors */
  --color-primary-highlight: #7693ff;

  /* Secondary colors */
  --color-secondary-income: #d6ff62;
  --color-secondary-expense: #f87828;

  --font-work-sans: "Work Sans", sans-serif;
}

@layer base {
  html {
    @apply font-work-sans;
  }
}
